bardapi==0.1.11
certifi==2023.5.7
charset-normalizer==3.1.0
idna==3.4
importlib-metadata==6.6.0
jaraco.classes==3.2.3
keyring==23.13.1
more-itertools==9.1.0
requests==2.31.0
urllib3==2.0.3
zipp==3.15.0
